<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form  #empForm="ngForm">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" #firstName="ngModel" required [(ngModel)]="employee.firstName" name="firstName" maxlength="10">
    </div>
  
    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName"#lastName="ngModel" required [(ngModel)]="employee.lastName" name="lastName" maxlength="10">
    </div>

    <div class="form-group">
      <label for="name">Email Id</label>
      <input type="email" class="form-control" id="emailId" #emailId="ngModel"required [(ngModel)]="employee.emailId"  name="emailId">
    </div>
    <div class="form-group">
        <label for="name">Active/Inactive</label>
        <select  name="active" [(ngModel)]="employee.active">
            <option disabled>Select </option>
            <option value="A">Active </option>
            <option value="IN">Inactive</option>
          </select>
         </div>
  
    <button  (click)="save(empForm)"class="btn btn-success">Save</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
